//Reset
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
@mixin imgDefault {
    width: 180px;
    height: 130px;
    object-fit: contain;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
//Variables
$dark : #042A2B;
$medium : #5EB1BF;
$light : #CDEDF6;

//Keyframes
@keyframes text-appear {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      transform: translateZ(0);
      opacity: 1;
    }
  }

  @keyframes header-pos {
    from {
        height: 50em;
    }
    to {
        height: 5em;
    }
  }
  
//@media screen and (max-width: 470px) {
    a {
        margin: 5px 10px;
        text-decoration: inherit;
        color: inherit;
    }
    header {
        @include flexColumn;
        background: $dark;
        height: 50em;
        animation: header-pos 0.5s ease-in-out both;
        animation-delay: 1.3s;
        p {
            display: inline;
            color: $light;
            text-transform: uppercase;
            font-family: 'Righteous', cursive;
            font-size: 1.7em;
            animation: text-appear 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
       // padding-bottom: 20px;
    }
    footer {
        @include flexColumn;
        background: $dark;
        color: $light;
        font-weight: 300;
        padding: 15px;
        img {
            width: 35px;
            height: 35px;
            border-radius: 4px;
            &:hover {
                box-shadow: 1px 1px 22px 1px rgba(205,237,246,0.95);
                transition: all 0.3s;
            }
           // margin: 5px;
        }
        h3 {
            font-weight: 300;
        }
    }
    img {
        width: 150px;
        height: 100px;
        object-fit: contain;
    }
    ul {
        @include flexColumn;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 15px;
        li {
            @include flexColumn;
            list-style: none;
            background: $light;
            padding: 10px 15px;
            margin: 6px;
            border-radius: 10px;
            width: 15rem;
            height: 6rem;
            text-align: center;
            color: $dark;
            transition: all 0.3s;
            &:hover {
                background: $dark;
                color: $light;
                transition: all 0.3s;
            }
            a {
                text-decoration: inherit;
                display: contents;
                color: inherit;
                font-size: 14px;
                //font-weight: bold;
                margin: 0;
                height: 100%;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }

        
.contact__container {
    @include flexColumn;
}

.icons {
    @include flexColumn;
    flex-direction: row;
}

main {
    @include flexColumn;
    margin: 20px 5%;
    h1, h2 {
        font-size: 19px;
        //margin-bottom: 10px;
    }
}

article {
    @include flexColumn;
    p {
        text-align: left;
        margin: 10px 0;
    }
}

section {
    @include flexColumn;
    width: 100%;
    h2 {
        margin-bottom: 10px;
    }
}
.video {
    width: 100%;
    height: 20em;
    position: relative;
}

@keyframes bgAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
