//Reset
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
@mixin imgDefault {
    width: 180px;
    height: 130px;
    object-fit: contain;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
//Variables
$dark : #042A2B;
$medium : #5EB1BF;
$light : #CDEDF6;
//@media screen and (max-width: 470px) {
    a {
        margin: 5px 10px;
        text-decoration: inherit;
        color: inherit;
    }
    header {
        @include flexColumn;
        //background: $light;
        box-shadow: 0px 5px 5px 0px rgba(4,42,43,0.61);
        min-height: 80px;
        p {
            font-family: 'Permanent Marker', cursive;
            font-size: 1.7em;
        }
       // padding-bottom: 20px;
    }
    footer {
        @include flexColumn;
        background: $dark;
        color: $light;
        font-weight: 300;
        padding: 15px;
        img {
            width: 30px;
            height: 30px;
           // margin: 5px;
        }
        h3 {
            font-weight: 300;
        }
    }
    img {
        width: 150px;
        height: 100px;
        object-fit: contain;
    }
    ul {
        @include flexColumn;
        li {
            list-style: none;
            background: $light;
            padding: 10px 15px;
            margin: 8px;
            border-radius: 10px;
            width: 100%;
            text-align: center;
            color: $dark;
            transition: all 0.3s;
            &:hover {
                background: $dark;
                color: $light;
                transition: all 0.3s;
            }
            a {
                text-decoration: inherit;
                color: inherit;
                font-size: 14px;
                //font-weight: bold;
                margin: 0;
                height: 100%;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }

        
.contact__container {
    @include flexColumn;
}

.icons {
    @include flexColumn;
    flex-direction: row;
}

main {
    @include flexColumn;
    margin: 20px 5%;
    h1, h2 {
        font-size: 19px;
        //margin-bottom: 10px;
    }
}

article {
    @include flexColumn;
    p {
        text-align: center;
        margin: 10px 0;
    }
}

section {
    @include flexColumn;
    width: 100%;
    h2 {
        margin-bottom: 10px;
    }
}
.video {
    width: 90%;
    height: 150px;
    background: rgb(2,0,36);
    background: linear-gradient(47deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 600% 600%;
    animation: bgAnim 10s ease infinite;
    
}

@keyframes bgAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
